#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

a {
  color:white;
}

a:hover {
  color:lightblue;
}

h1 {
  margin-bottom: 25px;
}

.addButton {
  margin: 16px 0 12px;
  width: 100%;
}

.cost {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 8px 0 20px;
}


